# Git
.git

# Docker
.docker

# Python
*.pyc
**/__pycache__/
/src/app/__pycache__/
src/app/*/__pycache__/
src/app/web/__pycache__
src/app/*/*/__pycache__/
src/app/*/*/*/__pycache__/
src/.env
.venv/
venv/
src/data/log
.env