{% extends 'form/base_form.html' %}
{% load i18n %}

{% block content %}

<div class="form-nach">
    <form method="post">
        {% csrf_token %}

{% include 'form/msg_form.html' %}

<h3 class="text-center display-6">{% trans "Signin" %}</h3>
<label for="{{ form.email.id_for_label }}" class="text-xs block my-1 text-slate-300">Email:</label>
<input id="{{ form.email.id_for_label }}" label="Write your email" type="email" name="email" class="w-full bg-zinc-700 text-white px-4 py-2 rounded-md">
{{ form.email.errors }}

<label for="{{ form.password.id_for_label }}" class="text-xs block my-1 text-slate-300">{% trans "Password" %}:</label>
<input id="{{ form.password.id_for_label }}" type="password" name="password" class="w-full bg-zinc-700 text-white px-4 py-2 rounded-md">
{{ form.password.errors }}

<button class="btn btn-info bg-indigo-500 px-4 py-1 rounded-md mt-3 mb-2 disabled:bg-indigo-300">{% trans "Login" %}</button>
</form>
<p class="flex gap-x-2 justify-between">{% trans "Don't have an account?" %}<a class="text-sky-500" href="/register">{% trans "Sign up" %}</a></p>
<a href="{% url 'password_reset' %}" class="text-sky-500 d-flex justify-content-center pt-1">{% trans "Forgot or change your password?" %}</a>
    <div class="row  text-center">
        <a href="{{ url_user }}">
            <button class="btn btn-primary bg-indigo-500 px-4 py-1 rounded-md mt-3 mb-2 disabled:bg-indigo-300">{% trans "login with 42" %}</button>
        </a>
    </div>
</div>

{% endblock %}