[flake8]
exclude = migrations, __pycache__, manage.py, settings.py, tmp
extend-ignore = E203, F401, W504
ignore = W504
max-line-length = 88
per-file-ignores =
    django/core/cache/backends/filebased.py:W601
    django/core/cache/backends/base.py:W601
    django/core/cache/backends/redis.py:W601
    tests/cache/tests.py:W601